<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="sections/sections :: head">
</head>

<body>
<header th:include="sections/sections :: header">

</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <a href="/service" class="btn btn-success" role="button">All motorhouses</a>
                <a href="/service/check" class="btn btn-secondary" role="button">Needs check</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Model</th>
                            <th scope="col">Gearbox</th>
                            <th scope="col">Mileage</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="motorhouse : ${motorhouses}">
                            <td scope="row" th:text="${motorhouse.id}"></td>
                            <td th:text="${motorhouse.manufacturer} + ' ' + ${motorhouse.model}"></td>
                            <td th:text="${motorhouse.gearbox}"></td>
                            <td th:text="${motorhouse.mileage} + ' KM'"></td>
                            <td>
                                <a class="btn btn-secondary details" th:href="'/motorhouse/details/' + ${motorhouse.id}" role="button">Details</a>
                                <a class="btn btn-success" th:href="'/service/register/' + ${motorhouse.id}" role="button">Service</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:include="sections/sections :: footer">

</footer>
<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
