<!doctype html>
<html lang="en" xmlns:th="">
  <head th:include="sections/sections :: head">
  </head>

  <body>
    <header th:include="sections/sections :: shared-header">
    </header>

    <main>
      <div class="container-fluid">
        <div class="row" id="searchDiv">
          <div class="col-md-4 offset-md-4">
            <form method="post" action="/reservation/search">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dateFrom">Date from:</label>
                    <input type="date" id="dateFrom" name="dateFrom" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dateTo">Date to:</label>
                    <input type="date" id="dateTo" name="dateTo" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="seats">Seats:</label>
                    <input type="number" min="2" max="8" id="seats" name="seats" class="form-control" value="2">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="beds">Beds:</label>
                    <input type="number" min="1" max="4" id="beds" name="beds" class="form-control" value="1">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-2 offset-md-5">
                  <button type="submit" class="btn btn-success">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer th:include="sections/sections :: footer">

    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="display.js"></script>
  </body>
</html>
