<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sections</title>
</head>
<body>
    <header th:fragment="shared-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/motorhouse">Vans</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <form th:fragment="editForm">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="manufacturer">Brand</label>
                        <input type="text" class="form-control" id="manufacturer" name="manufacturer" placeholder="Volkswagen"/>
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" name="model" placeholder="Multivan"/>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <input type="number" class="form-control" id="year" name="year" placeholder="2018" min="1997" max="2018"/>
                    </div>
                    <div class="form-group">
                        <label for="transmission">Transmission</label>
                        <select class="form-control" id="transmission" name="transmission">
                            <option value="FWD">Front wheel drive</option>
                            <option value="RWD">Rear wheel drive</option>
                            <option value="AWD">All wheel drive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gearbox">Gearbox</label>
                        <select class="form-control" id="gearbox" name="gearbox">
                            <option value="Manual">Manual</option>
                            <option value="Automatic">Automatic</option>
                        </select>
                        <!--<input type="text" class="form-control" id="gearbox" name="gearbox"/>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        <input type="number" class="form-control" id="mileage" name="mileage" max="500000" />
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="number" class="form-control" id="weight" name="weight" min="2000" max="10000" />
                    </div>
                    <div class="form-group">
                        <label for="seats">Seats</label>
                        <input type="number" class="form-control" id="seats" name="seats" min="2" max="8" />
                    </div>
                    <div class="form-group">
                        <label for="bed_count">Beds</label>
                        <input type="number" class="form-control" id="bed_count" name="bed_count" min="1" max="4" />
                    </div>
                    <div class="form-group">
                        <label for="power">Power</label>
                        <input type="number" class="form-control" id="power" name="power" min="55" max="200" />
                    </div>
                </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" name="description"></textarea>
                </div>
            </div>
            </div>
            <input type="submit" class="btn btn-success" value="Submit"/>
            <a class="btn btn-danger" role="btn" href="#">Delete</a>
        </form>
    </main>
</body>
</html>